@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*font-family: "Poppins", sans-serif;
font-family: "Bebas Neue", sans-serif;*/

body{
    background-image: url(/backgounds-desktop/Anya-page.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Poppins", sans-serif;
}

img{
    border-radius: 10px;
}

a{
    color: #287233;
}

h1, h2{
    font-family: "Bebas Neue", sans-serif;
}

table{
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}

th, td {
    border: 3px solid white;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
}

th{
    background-color: #8da99b;
}

#img-title, #titolo-tab1{
    width: 15%;
}

#Awarded{
    width: 11%;
}


.stella{
    width: 120px;
}

.no-center{
    text-align: left;
    width: 30%;
}

#friendship-crash, #rising-hope, #star-catch, #Killer_Punch{
    width: 250px;
}

#inside-bg{
    background-color: #fab3ad;
    border-radius: 10px;
    margin-top: 5%;
    margin-bottom: 2.5%;
}

#insider-bg{
    margin: 1.5rem;
    padding-bottom: 1rem;
    padding-top:1rem;
}

.navbar{
    background-color:  	#8da99b;
    position: fixed; 
    top: 0; 
    left: 0; 
    right: 0;
}

#Intro, #Above-Average-Intelligence, #special-moves, #Resourcefulness, #not-all{
    width: 75%;
}

#anya-full-app{
    margin-right: 2rem;
    margin-bottom: 1rem;
}

#involuntary-use, #eclipsing{
    margin-left: 2rem;
    margin-right: 1rem;
}

.poor, .crak{
    margin-left: 1rem;
    margin-right: 1rem;
}

#anya-punch-damian, #test, #Basic-Self-Defense, #Anya_Eclipsing, #anya-reads-loid-mind{
    margin-left: 1rem;
    margin-bottom: 1rem;
}

@media (max-width: 767px){
    .no-display{
        display: none;
    }
    h1{
        margin-top: 40px;
    }
    #insider-bg{
        margin: 0rem;
        padding-bottom: 1rem;
        padding-top:1rem;
    }
    .poor, .crak, #anya-full-app, #involuntary-use, #eclipsing, #Basic-Self-Defense{
        margin-left: 0rem;
        margin-right: 0rem;
    }

    #Intro, #Above-Average-Intelligence, #special-moves, #Resourcefulness, #not-all{
        width: 100%;
    }

    #anya-full-app, .anya-reading-mind, #test, #anya-punch-damian, #Anya_Eclipsing{
        margin: auto;
        margin-bottom: 1rem;
    }
}
