body{
    background-image: url(/backgounds/index-background.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    align-items: center;
}

div{
    margin-bottom: 30px;
}

a {
  color:#57675c;
  text-decoration: none;
}

hr{
    color: #57675c;
    border-radius: 5px;
}

.all-home-page{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(20px);
    border-radius: 10px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding: 10px;
}

.all-home-page{
    text-align: center;
    align-content: center;
}

.all-home-page{
    width: fit-content;
    height: fit-content;
    margin: 7% auto;
}

#main-title-home{
    margin-bottom: -15px;
}

#Anya, #Loid, #Yor, #Damian, #Yuri, #Frankie, #Sylvia{
    font-size: 25px;
}